a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.add-large-margin-top {
    margin-top: 20px;
}
.set-md-width{
    width: 800px;
}
.default-thumbnail-size{
    height: 90px;
    width: 120px;
}
.text-title:hover{
    color: aquamarine;
    cursor: pointer;
}
.text-subtitle{
    font-size: 15px;
    margin-top: -5px;
    color: rgb(192, 192, 192);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text-description{
    font-size: 11px;
    margin-top: -12px;
    color: rgb(134, 134, 134);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.border-bottom{
    border-bottom: 4px dotted blue;
}
.text-title{
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.img{
    max-width: 150px;
}
.item-div{
    padding-top: 10px;
    border-bottom: 1px solid rgb(71, 71, 71);
}
.item-div:hover{
    background-color: rgb(0, 0, 0);
}