<!doctype html>
<html lang="en">
  <head>
      {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{%  static  'css/styles.css'  %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{%  static  'images/brand.png'  %}">
    <title>Search Youtube videos!</title>
  </head>
  <body class="bg-dark">
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{%  static  'images/brand.png'  %}" alt="" width="25" height="24" class="d-inline-block align-text-top">&nbsp;YouSearch</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" onClick="refreshPage()" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'youtube:home' %}">Reload</a>
              </li>
            </ul>
            <form class="collapse navbar-collapse" action="{% url 'youtube:search' %}" method="post">
              {% csrf_token %}
              <input class="form-control me-2" type="search" name="q" placeholder="Search YouTube Here" aria-label="Search">
              <button class="btn bg-light btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
<!--    <div class="container-fluid bg-light">-->


<!--    </div>-->
      <div class="container-fluid add-large-margin-top">
          <div class="row">
            <div class="col-sm text-center">
              <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'youtube:search'%}?order={{ order|add:1 }}&page={{page}}&max={{ total_results }}&q={{q}}'">Sort by date</button>
            </div>
            <div class="col-sm text-center">

            </div>
            <div class="col-sm text-center">
              <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{% url 'youtube:search'%}?order={{ order }}&page={{page|add:'-1'}}&max={{ total_results }}&q={{q}}'">Previous</button>
              <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{% url 'youtube:search'%}?order={{ order }}&page={{page|add:1}}&max={{ total_results }}&q={{q}}'">Next</button>
            </div>
          </div>
      </div>
      <div class="container-fluid add-large-margin-top">
        <div class="row">
          <div class="col-sm text-center text-light"></div>
          <div class="col-sm text-center text-light">
            Showing {{page_start}} - {{ page_end }} of {{ total_results }} results
          </div>
          <div class="col-sm text-center text-light"></div>
        </div>
      </div>
      <div class="container-fluid add-large-margin-top">
        <div class="row">
          <div class="col-sm "></div>
          <div class="col-sm bg-dark set-md-width">
            <!--This is the div of items-->
            {% for item in results %}
              <div class="container item-div">
                  <div class="row">
                      <div class="col img center">
                          <img src="{{ item.thumbnail }}" class="rounded float-start default-thumbnail-size" alt="This is text of the video">
                      </div>
                      <div class="col-9 text-light">
                        <a href="{{ item.videoLink }}" target="_blank" class="text-title">{{ item.trimmedTitle }}</a>
                        <p class="text-subtitle">{{ item.channelTitle }}</p>
                        <p class="text-description">{{ item.publishTime }}</p>
                        <p class="text-description">{{ item.description }}</p>
                      </div>
                    </div>
              </div>
            {% endfor %}
          </div>
          <div class="col-sm text-center"></div>
        </div>
      </div>
    {% endblock %}
    <script>
    function refreshPage(){
        window.location.reload();
    }
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
